/* CSS Document */

/* Float Elements 
---------------------------------*/
.fl-lt {
    float: left;
}

.fl-rt {
    float: right;
}

/* Clear Floated Elements
---------------------------------*/
:root {
    --own: #cc3399;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix:before,
.clearfix:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix:after {
    clear: both;
}

.figure {
    margin: 0px;
}

img {
    max-width: 100%;
}

a, a:hover, a:active {
    outline: 0px !important
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/vendor/font-awesome/fontawesome-webfont.eot');
    /*src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');*/
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}

/* Primary Styles
---------------------------------*/
body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #888888;
    margin: 0;
    position: relative;
    max-width: 100%;
    overflow-x: hidden;
}

h2 {
    font-size: 34px;
    color: #222222;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: -1px;
    margin: 0 0 15px 0;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #222222;
    font-size: 16px;
    margin: 0 0 5px 0;
    text-transform: uppercase;
    font-weight: 400;
}

h6 {
    font-size: 16px;
    color: #888888;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 0 0 60px 0;
}

p {
    line-height: 24px;
    margin: 0;
}

/* Header Styles
---------------------------------*/

.header {
    text-align: center;
    background-image: url(../img/logo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
    padding: 270px 0px 270px 10px;
}

.header h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: -1px;
    margin: 0 0 22px 0;
    color: #fff;
}

.occupation {
    padding: 0;
    margin: 35px 0 55px;
    font-size: 30px;
    font-weight: 200;
    color: white;
}

.start-button {
    padding-left: 0px;
}

.start-button li a {
    color: #fff;
}

/* Navigation
---------------------------------*/
.main-nav-outer {
    padding: 0px;
    border-bottom: 1px solid #dddddd;
    box-shadow: 0 4px 5px -3px #ececec;
    position: relative;
    background: #fff;
}

.sticky {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.3);
    top: 0;
    width: 100%;
    z-index: 100;
    margin-bottom: 10px;
}

.main-nav {
    text-align: center;
    margin: 10px 0 0px;
    padding: 0;
    list-style: none;
}

.main-nav li{
    display: inline-block;
    color: #222222;
    background-color: #ececec;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    line-height: 20px;
    margin: 17px 32px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    width: 13.3%;
    min-width: 160px;

}

.main-nav .active a {
    background-color: var(--own) !important;
}

.main-nav li a:hover {
    text-decoration: none;
    color: var(--own);
}

.main-section {
    padding: 90px 0 110px;
}

/* Services
---------------------------------*/

.service-list {
    padding: 0 0 0 0;
    font-size: 14px;
    margin-bottom: 40px;
}

.service-list-col1 {
    float: left;
    width: 60px;
}

.service-list-col1 i {
    font-style: normal;
    font-size: 38px;
    display: block;
    color: #222;
    font-family: 'FontAwesome';
    line-height: 38px;
}

.service-list-col2 {
    overflow: hidden;
}

.main-section.gray {
    background: #fafafa;
}

/* Featured Work
---------------------------------*/
.opleidingen {
    font-size: 14px;
}

.opleidingen h2 {
    text-align: left;
}

.featured-box {
    padding: 0 0 0 0;
    margin-bottom: 25px;
    font-size: 14px;
}

.featured-box h3 {
    margin-bottom: 5px;
}

.featured-box p {
    line-height: 22px;
}

.featured-work p.padding-b {
    padding-bottom: 35px;
}

.featured-box-col1 {
    width: 60px;
    float: left;
}

.featured-box-col1 i {
    display: block;
    line-height: 38px;
    font-family: 'FontAwesome';
    font-size: 38px;
    color: #777777;
    font-style: normal;
}

.featured-box-col2 {
    overflow: hidden;
}

.Learn-More {
    display: inline-block;
    padding: 0 5px 0 0;
    color: #7cc576;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 24px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    display: none;
}

.Learn-More i {
    padding-right: 15px;
}

.Learn-More:hover, .Learn-More:focus {
    text-decoration: none;
    color: #111;
}

.Experience-nav {
    padding: 0;
    margin: 0 0 45px 0;
    list-style: none;
    text-align: center;
}

.Experience-nav li {
    margin: 0 10px;
    display: inline;
}

.Experience-nav li a {
    display: inline-block;
    padding: 10px 22px;
    font-size: 12px;
    line-height: 20px;
    color: #222222;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    background: #f7f7f7;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.Experience-nav li a:hover {
    background: var(--own);
    color: #fff;
    text-decoration: none;
}

.Experience-nav li a.current-experience {
    background: var(--own);
    color: #fff;
    text-decoration: none;
}

.experience-box {
    text-align: center;
    margin-bottom: 30px;
    height: 350px;
    width: 350px;
    overflow: hidden;
    float: left;
    padding: 0;
}

.experience-box img {
    max-height: 100px;
    margin-bottom: 25px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.experienceContainer {
    margin: 0 auto;
    padding-left: 15px;
    max-width: 1140px;
}

/* Portfolio
---------------------------------*/
.Portfolio-nav {
    padding: 0;
    margin: 0 0 45px 0;
    list-style: none;
    text-align: center;
}

.Portfolio-nav li {
    margin: 0 10px;
    display: inline;
}

.Portfolio-nav li a {
    display: inline-block;
    padding: 10px 22px;
    font-size: 12px;
    line-height: 20px;
    color: #222222;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    background: #f7f7f7;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.Portfolio-nav li a:hover {
    background: var(--own);
    color: #fff;
    text-decoration: none;
}

.portfolioContainer {
    margin: 0 auto;
    padding-left: 15px;
    max-width: 1140px;
}

.Portfolio-box {
    text-align: center;
    height: 230px;
    width: 350px;
    overflow: hidden;
    float: left;
    padding: 0;
    /*box-shadow: 2px 2px 2px var(--own);*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px 10px 10px 10px
}

.Portfolio-box img {
    margin-top: 1em;
    height: 150px;
    width: 300px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.Portfolio-box img:hover {
    opacity: 0.6;
}

.Portfolio-nav li a.current-portfolio {
    background: var(--own);
    color: #fff;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.no-style-link a {
    text-decoration: none !important;
    color: var(--own);
    font-size: 10px;
    /*margin-bottom: 25px;*/
}

.no-style-link {
    text-decoration: none !important;
    color: var(--own);
    font-size: 10px;
}

.Portfolio-item-title {
    margin-top: 1em;
    margin-bottom: 1em;
}

/* no transition on .isotope container */

.isotope .isotope-item {
    /* change duration value to whatever you like */
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    transition-duration: 0.6s;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}

.main-section.paddind {
    padding-bottom: 60px;
}

/* Team
---------------------------------*/
.about {
    height: 60%;
    background-size: cover;
    background-image: url(../img/rammstein6.jpg);
    background-repeat: no-repeat;
}

.about-block {
    max-width: 993px;
    margin: 0 auto;
}

.about-box {
    width: 30.66%;
    height: auto;
    overflow: hidden;
    float: right;
}

.description-about {
    width: auto;
    height: auto;
    position: relative;
    /*box-shadow: 0px 0px 0px 7px rgba(241, 241, 241, 0.80);*/
    background-color: rgba(146, 140, 157, 0.6);
    color: white;
    font-size: 15px;
    padding: 15px;
}

.about-text {
    margin-bottom: 10px;
}

/* Contact
---------------------------------*/
.main-section.contact {
    padding: 90px 0 100px;
}

.contact-right {
    width: 50%;
    float: right;
}

.contact-left {
    width: 50%;
    float: left;
}

.contact-info-box {
    font-size: 15px;
    margin: 0 0 14px 68px;
    padding-left: 0;
}

.contact-info-box h3 {
    font-size: 15px;
    font-weight: 400;
    float: left;
    width: 102px;
    margin-right: 12px;
    line-height: 28px;
}

.contact-info-box h3 i {
    font-style: normal;
    font-size: 18px;
    color: #222222;
    font-family: 'FontAwesome';
    font-weight: normal;
    text-align: center;
}

.label-icon {
    width: 25%;
    float: left;
}

.contact-text {
    width: 75%;
    float: right;
}


.icon {
    margin-right: 10px;
}

.contact-mid {
    justify-content: center;
    display: flex;
    margin-top: 15px;
}

.contact-info-box span {
    line-height: 28px;
    display: block;
}

.social-link {
    margin: auto 0;
    display: block;
    overflow: hidden;
    list-style: none;
}

.social-link li {
    float: left;
    margin-right: 8px;
}

.social-link li a {
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 45px;
    font-size: 25px;
    color: #fff;
    background: var(--own);
    border-radius: 50%;
    border: 2px solid black;
    transition: all 0.3s ease-in-out;
}

.social-link li a:hover, .social-link li a:focus {
    text-decoration: none;
}


.github a:hover {
    background: #0033ab;
}

.emailaddress a:hover {
    background: #9a3fa1;
}

.linkedin a:hover {
    background: #d9006f;
}

/* Footer
---------------------------------*/

.footer {
    /*background: url(../img/pw_maze_black_2X.png) left top repeat;*/
    background-color: var(--own);
    padding: 35px 0 35px;
}

.footer-logo {
    margin: 15px auto 35px;
    width: 76px;
}

.copyright {
    color: #cccccc;
    font-size: 14px;
    display: block;
    text-align: center;
}

.copyright a {
    color: #7cc576;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.copyright a:hover {
    color: #fff;
}

.res-nav_click {
    line-height: 38px;
    font-family: 'FontAwesome';
    font-size: 38px;
    text-decoration: none !important;
    color: #777777;
    font-style: normal;
    display: none;
    width: 42px;
    height: 27px;
    margin: 20px auto;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.res-nav_click:hover, .res-nav_click:active, .res-nav_click:focus {
    color: #7cc576 !important;
}

#container {
    min-width: 320px;
    max-width: 600px;
    margin: 0 auto;
}

/* Animation Timers
---------------------------------*/
.delay-02s {
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
}

.delay-03s {
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
}

.delay-04s {
    animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
}

.delay-05s {
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}

.delay-06s {
    animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
}

.delay-07s {
    animation-delay: 0.7s;
    -webkit-animation-delay: 0.7s;
}

.delay-08s {
    animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
}

.delay-09s {
    animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
}

.delay-1s {
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

.delay-12s {
    animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
}

.avatar-mirror {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    /*height: 50%;*/
    /*width: 50%;*/
}